{% extends 'base.html.twig' %}

{% block title %}Sintomas COVID-19{% endblock %}
{% block nav %}
{{ include('navbar.html.twig') }}
{% endblock %}
{% block body %}
    <h1>Sintomas registrados</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Descripcion</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody >
        {% for sintoma in sintomas %}
            <tr >
                <td width="50%">{{ sintoma.descripcion }}</td>
                <td class="d-flex ">
                    <a class="btn btn-dark "  href="{{ path('sintoma_edit', {'id': sintoma.id}) }}">Editar</a>
                    {# ver como importarlo con el import#}
                    <form method="post" action="{{ path('sintoma_delete', {'id': sintoma.id}) }}" onsubmit="return confirm('¿Eliminar el sintoma {{sintoma.descripcion}} permanentemente?');">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ sintoma.id) }}">
                        <button class="btn btn-dark mx-3">Borrar</button>
                    </form> 
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('sintoma_new') }}">Cargar Sintoma</a>
{% endblock %}
