{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}
{% block nav %}
{{ include('navbar.html.twig') }}
{% endblock %}
{% block body %}
        <h1>Hola, {{nombre}}</h1> 
        <div class="row d-flex py-3"> 
            {% for sintoma in sintomas %}
            <div class="col-sm-3"  >
                <div class="card" style="height: 10rem; margin-bottom: 10px">
                    <div class="card-body">
                        <h5 class="card-title">{{sintoma.nombre}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{sintoma.fecha}}</h6>
                        <p class="card-text">{{sintoma.descripcion}}</p>
                        
                    </div>
                    <div class="card-footer d-flex justify-content-end">
                            <a href="{{ path('user_sintomas_edit',  {'id': sintoma.id}) }}" class="btn btn-primary btn-sm ">Editar</a>
                            
                            {# ver como importarlo con el import#}
                            <form method="post" action="{{ path('user_sintomas_delete', {'id': sintoma.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ sintoma.id) }}">
                                <button class="btn btn-primary btn-sm" style="margin-left:5px">Borrar</button>
                            </form>    
                    </div>
                </div>       
            </div>    
            {% else %}
                No has registrado síntomas
            {% endfor %}

        </div>
        <a href="{{ path('user_sintomas_new') }}" class="btn btn-outline-primary my-2">Agregar sintoma</a>
        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
{% endblock %}
